@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --blue:#29a5a3;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--blue);
    border-radius: 5rem;
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    margin: 2rem 0;
    color: var(--blue);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--blue);
    color: black;
    padding: .8rem 3rem;
    border: .2rem solid var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
}

.btn:hover{
    color: var(--blue);
    background:pink(41, 165, 163, .2);
}

/* header */

.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background:maroon;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;
    text-transform: uppercase;
}

.header .navbar a{
    color:black;
    font-size: 2rem;
    margin: 0 .8rem;
}

.header .navbar a:hover{
    color: var(--blue);
}

.header .navbar #close-navbar{
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: white;
    display: none;
}

.header .navbar #close-navbar:hover{
    transform: rotate(90deg);
}

.header .btn{
    margin-top: 0;
}

#menu-btn{
    color: #333;
    border: .1rem solid #333;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}

/* end */

/* home */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: relative;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
    color: black;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,0.2);
}

.home .content p{
    font-size: 2.5rem;
    color: black;
    padding: .5rem 0;
}

.home .video-container img{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* end */
/* packages */

.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.packages .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.1);
}

.packages .box-container .box .image{
    height: 300px;
    overflow: hidden;
    width:100%;
}

.packages .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.packages .box-container .box:hover .image img{
    transform: scale(1.1);
}

.packages .box-container .box .content{
    text-align: center;

}

.packages .box-container .box .content h3{
    font-size: 2rem;
    color: var(--blue);
}

.packages .box-container .box .content .price{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.packages .box-container .box .content .price span{
    color: var(--blue);
    font-size: 1.5rem;
    text-decoration: line-through;
}

.packages .box-container .box .content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

/* end */
/* newsletter */

.newsletter{
    background: rgba(41, 165, 163, .1);
}

.newsletter .content{
    text-align: center;
    max-width: 60rem;
    margin: 1rem auto;
}

.newsletter .content h3{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--blue);
}

.newsletter .content p{
    font-size: 1.7rem;
    padding: 1rem 0;
    color: #666;
    line-height: 2;
}

.newsletter .content p a {
    color: var(--blue);
}

.newsletter .content p a:hover{
    text-decoration: underline;
}

.newsletter .content form{
    display: flex;
    border: .1rem solid var(--blue);
    border-radius: .5rem;
    padding: .5rem;
    margin: 1rem 0;
}

.newsletter .content form .email{
    width: 100%;
    padding: 1rem 1.4rem;
    font-size: 1.7rem;
    text-transform: none;
}

.newsletter .content form .btn{
    margin-top: 0;
}

/* end */

/* footer */

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box{
    padding: 1rem 0;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color: var(--blue);
    padding: 1rem 0;
}

.footer .box-container .box a{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    line-height: 2;
    cursor: pointer;
    display: block;
}

.footer .box-container .box a:hover{
    color: var(--blue);
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--blue);
}

.footer .credit{
    font-size: 2rem;
    text-align: center;
    border-top: .1rem solid #666;
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    color: #666;
}

.footer .credit span{
    color: var(--blue);
}

/* end */






/* media query */

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .book .row .container .slide-container{
        max-width: 100rem;
        justify-content: center;
    }
}

@media(max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: fixed;
        top: 0; left: -105%;
        width: 30rem;
        background: maroon;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        z-index: 1200;
    }
    .header .navbar.active{
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0,0,0,0.8);
    }
    .header .navbar #close-navbar{
        display: block;
    }
    .header .navbar a{
        display: block;
        margin: 1rem 0;
        text-align: center;
        font-size: 3rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}